*{
  margin: 0;
  padding: 0;
  
}

/*Common shared styles*/

.text-color{
   color: #f00;
}

.p-info{
  color: rgba(7, 2, 17, 0.60);
  font-family:'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; 
  margin-top: 20px;
  width: 70%;
}

.header,.main{
  width: 80%;
  max-width: 1550px;
  margin: 50px auto;
}

/* Heading section styles*/

.header-section{
  background-image: url(../images/Banner_image.png);
  width:100%;
  max-width: 1550px;
  height: 700px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.banner-shadow{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 700px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
  border-radius: 20px;
}

.title{
  color: #FFF;
  margin-bottom: 20px;
  font-family: 'Merriweather', serif;
  font-size: 35px;
  font-weight: 400;
}
.party{
  color: #FFF;
  font-family: 'Merriweather', serif;
  font-size: 75px;
  font-weight: 900;
}



/* main section styles*/

.main>section{
  border-radius: 20px;
  margin: 150px auto;
}

/* Discount section styles*/
.discount{
  width: 50%;
  height: 50%;
  box-shadow: 30px 30px 50px rgb(238, 117, 117);
  margin: 120px auto;
}

.dis{
  text-align: center;
}
.off{
  padding: 20px 0px;
  font-family:'Inter', sans-serif;
  font-size: 90px;
  font-weight: 700;
}
.sec-title{
  color: #f00;
  font-size: 24px;
  font-family:'Inter', sans-serif;
  margin: 20px 0px;
  font-weight: 500;
}
.category{
  color: #070211;
  margin-top: 16px;
  font-family:'Inter', sans-serif;
  font-size: 50px;
  font-weight: 700;
}

.dis-img{
  padding-top: 50px;
  width: 100%;
}


/* Welcome section styles*/
.welcome-section{
   background-image: url(../images/Vector.png);
   height: 700px;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 20px;
}

.dark-shadow{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 80%;
    max-width: 1550px;
    height: 700px;
    background: linear-gradient(80deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 20px;
    align-items: center;
}

.welcome-info{
  padding-left: 130px;
  width: 60%;
}

.welcome-img{
  position: relative;
  left: 140px;
}
.welcome-party{
  color: #FFF;
  font-family: 'Merriweather', serif;
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 40px;
  line-height: 88px;
  letter-spacing: 7.04px;
}
.welcome-discription{
  color: rgba(255, 255, 255, 0.80);
  font-family:'Inter', sans-serif;
  font-size: 20px;
  padding-bottom: 60px;
  font-weight: 400;
  line-height: 30px; 
} 

.welcome-btn{
  display: inline-block;
  padding:15px 40px;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  border: 2px solid rgb(255, 203, 71);
  border-radius: 20px;
  border-top-right-radius: 0;
  cursor: pointer;
  background-image: linear-gradient(220deg,#80048d,#da4813);
  transition: 0.5s;
 }
 
 .welcome-btn:hover{
   border-top-right-radius: 20px;
   background-image:linear-gradient(220deg,#1414ae,#80048d);
 }

.welcome-img{
  padding-left: 10px;
}

/* Joining section styles*/

.join-now {
  background: linear-gradient(180deg,
  rgba(255, 0, 0, 0.10) 0%, 
  rgba(255, 0, 0, 0.00) 100%);
  width:100%;
  height: 500px;
  border-radius: 20px;
  text-align: center;
}

.joining > .join-now > h3{
  font-size: 35px;
  font-family:'Inter', sans-serif;
  font-weight: 600;
  line-height: 56px; /* 175% */
  text-transform: capitalize;
}
.join-now{
  padding-top: 130px;
}
.btn-primary{
  margin-top: 30px;
  padding:16px 32px;
  color: #FFF;
  font-family:'Inter', sans-serif;
  background-color: #f00;
  font-weight: 600;
  font-size: 20px;
  border: none;
  border-radius: 14px;
  border-top-right-radius: 0;
  cursor: pointer;
  transition: 0.35s;
}
.btn-primary:hover{
  border-top-right-radius: 14px;
  background-image:linear-gradient(220deg,#db5135,#ef0909);
}

/* Coming soon section styles*/

.coming-soon{
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  box-shadow: 30px 30px 50px rgb(238, 117, 117);
}


.coming{
  color: #070211;
  font-family: 'Merriweather', serif;
  font-size: 50px;
  font-weight: 900;
  text-transform: capitalize;
}
.m-img{
  position: relative;
  right: 200px;
  width: 170%;
  border-radius: 100%;
  padding: 40px;
  border: 20px solid #F00;
}
.year{
  font-family:'Inter', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  padding-top: 150px;
  margin: 20px 0px;
}

.left{
  padding-left: 40px;
}
.right{
  margin-left:200px;
}
.hny-img{
   padding: 80px 0 20px;
}

/* Holidays section styles*/

.holi-uper{
   text-align: center;
}
.fun-title{
  color: #070211;
  font-family:'Inter', sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}

.holi-sale{
  color: #070211;
  font-family: 'Merriweather', serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
}
.holi-p{
  margin: 15px auto;
}
.holi-lower{
   margin-top: 50px;
}

.holi-img{
  width: 33%;
}

.img-container{
  display: flex;
  justify-content: space-between;
}

.holi-dis{
   position:relative;
   top: 150px;
   left: 180px;
   width: 350px;
   height: 350px;
}

.box{
  position: relative;
  top: 250px;
  left: 100px;
  width: 700px;
  height: 600px;
}

.red-carpet{
  width: 100%;
}

/* Portfolio section styles*/
.awesome{
  color: #070211;
  font-family: 'Merriweather', serif;
  font-size: 48px;
  font-weight: 900;
}

.img-port{
  margin-top: 40px;
}

.p-images{
  display: flex;
  width: 100%;
  margin-bottom: 25px;
  gap: 25px;
}

.p-img{
  width: 33%;
   transition: transform ease-in 0.3s;
}

.p-img:hover{
  transform: scale(1.1);
  z-index: 1;
}



/* Newsletter section styles*/

.Newsletter{
  background: rgba(255, 0, 0, 0.05);
  padding-bottom: 100px;
  box-shadow: 30px 30px 50px rgb(238, 117, 117);
}
.news-div{
  text-align: center;
}

.news-img{
  margin: 70px 0px 30px;
}

#news-p{
   margin: 25px auto;
}

.news-div input{
  border-radius: 50px;
  background: #FFF;
  font-size: 50px;
   border: none;
}

.email-box{
  margin-top: 80px;
}


#email {
  width: 438px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 50px 0 0 50px;
  color: rgba(7, 2, 17, 0.30);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  padding-left: 30px;
}

.subs-btn {
  position: relative;
  right: 5px;
  padding: 23px 32px;
  border: none;
  border-radius:0 50px 50px 0px;
  color: #FFF;
  text-align: center;
  background: #F00;
  font-family:'Inter', sans-serif;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s;
}
.subs-btn:hover{
  background-image:linear-gradient(220deg,#1414ae,#80048d);
}

/*footer section styles*/


.footer{
  width: 100%;
   background-color: #070211;
}
.footer hr{
  margin: auto 200px;
}
.foot-info-container{
   width: 70%;
   margin: auto;
   display: flex;
   justify-content: space-between;
   padding: 80px;
}


.foot-info{
  color: #FFF;
  font-family:'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; 
}

.foot-sign{
   position: relative;
   top: 5px;
}

.foot-links{
   margin: 0 20px;
}

.foot-middle{
  padding: 40px;
  text-align: center;
}

#unsub-btn{
  margin: 0;
}